extends layout

block scripts
	link(href='custom/custom_table.css', rel='stylesheet') 
	script(src='clientscripts/index.js')
block content
	.main-content
		.container
			.row
				.col-lg-12.text-center
					h2.mt-5
						| List of MAM-Channels			
					p
						| Type something in the input field to search the database:
					.input-group
						input#findInput.form-control(type="text", placeholder="Search..", value=findValue)
						.input-group-append
							button#findBtn.btn.btn-secondary(type='button') Find
					br
					p
						| With this field you can filter the current table in real time:
					.input-group
						input#myInput.form-control(type="text", placeholder="Filter..")
						.input-group-append
							button#pageSizeBtn.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false', value=pageSize)= 'PageSize '+ pageSize 
							#pageSizeOption.dropdown-menu
								button.dropdown-item 5
								button.dropdown-item 10
								button.dropdown-item 25
								button.dropdown-item 50
								button.dropdown-item 100
						
					br
					table.table.table-striped
						thead
							tr
								th Fetch
								th Title
								th Created
								th Website
								th Description
						tfoot
							tr
								td(colspan="5")
									.row
										.col-11
											if maxPages > 0
											- var i = (Number(currentPage) > 5 ? Number(currentPage) - 4 : 1)												
												#paging.btn-group(role='toolbar')
													if currentPage == 1
														button.btn.btn-secondary(type='button', disabled) First
													else
														button.btn.btn-outline-secondary(value=1) First
													if i !== 1
														button.btn.btn-outline-secondary(disabled) ...
													- for (; i <= (Number(currentPage) + 4) && i <= maxPages; i++) {
														if (i == currentPage)
															button.btn.btn-secondary(type='button', value=i, disabled)= i	
														else																
															button.btn.btn-outline-secondary(type='button', value=i)= i
														if (i == Number(currentPage) + 4 && i < maxPages)																
															button.btn.btn-outline-secondary(disabled) ...
													- }
													if (currentPage == maxPages)
														button.btn.btn-secondary(type='button', disabled) Last
													else
														button.btn.btn-outline-secondary(type='button', value=maxPages) Last
										.col-1
											a(href='/add')
												span.glyphicon.glyphicon-plus
											|    
											a(href='/add/generate-fake-data')
												span.glyphicon.glyphicon-fire
						tbody#myTable
							for doc in addresslist
								tr
									td 
										a(href='https://mam.tangle.army/fetch?address='+ doc.root)
											span.glyphicon.glyphicon-search
									td= doc.title				
									- var timestamp = doc.timestamp.toLocaleString()
									td= timestamp
									td= doc.website				
									td= doc.description
					p Just a simple example
					form#actionForm(action='/', method='POST', style='visibility:hidden')
						input#currentPage(type='hidden', name='page', value=currentPage)
						input#currentPageSize(type='hidden', name='pageSize', value=pageSize)
						input#currentFindValue(type='hidden', name='findValue', value=findValue)
						input#actionType(type='hidden', name='actionType')

	
